/**
  * TABLE OF CONTENTS
  *
  * SETTINGS
  * Global..................Globally-available variables and config.
  *
  * TOOLS
  * Mixins..................Useful mixins
  *
  * GENERIC
  * Normalize.css...........A level playing field.
  * Box-sixing..............Better default `box-sizing`.
  *
  * BASE
  * Headings................h1-h6 styles.
  *
  * OBJECTS
  * Wrappers................Wrapping and constraining elements
  *
  * COMPONENTS
  * Page-head............... The main page header.
  * Page-foot............... The main page footer
  * BUttons................. Button elements.
  *
  * TRUMPS
  * Text.................... Text helpers.
  */






/*----------------------------------- *\
       #GLOBAL
\*----------------------------------- */

:root {
  --alpha-light: 0.8;
  --alpha-dark: 0.15;
  --white: 255,255,255;
  --off-white: 250,249,246;
  --dark-grey: 51,51,51;
  --light-grey: 242,242,242;
  --brand-blue: 10,35,65;
  --black: 0,0,0;
  --red: 196,30,58;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: rgb(var(--off-white));
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

section {
  padding: 80px 20px;
}

.container {
  display: flex;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}

::placeholder {
  color: rgb(var(--dark-grey));
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgb(var(--dark-grey));
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: rgb(var(--dark-grey));
}

/**
  * o- prefic for global styles :
  * layout can be applied
  * for other layouts throughout the site.
  */

.o-media {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.o-media__header {
  font-size: 48px;
  font-weight: 900;
  color: rgb(var(--off-white));
}

.o-media__content {
  font-size: 18px;
  color: rgb(var(--off-white));
  padding: 10px 20px;
  flex: 1;
}

.o-brand__info {
  display: flex;
  align-items: center;
}

.o-brand__info i {
  border-radius: 50%;
  width: 34px;
  height: 34px;
  padding: 16px 8px 2px;
  border: 1px solid rgb(var(--white));
  color: rgb(var(--white));
  text-align: center;
  margin: 0 25px 12px 0;
}

.o-brand__info p {
  flex: 1;
}

.o-brand__info p strong {
  margin-right: 10px;
}

.o-push--right {
  margin-left: auto;
}

.o-btn-primary{
  display: block;
  margin-top: 20px;
  background-color:rgb(var(--brand-blue));
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.o-btn-primary:hover {
 
}

input[type=text],
input[type=email],
select,
textarea {
  width: 100%;
  padding: 12px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.o-required:after {
  content: ' *';
  font-size: 14px;
  color: rgb(var(--red));
}





/*----------------------------------- *\
       #HERO-SECTION
\*----------------------------------- */

.c-hero-section {
  background-color: rgba(var(--brand-blue), var(--alpha-light));
  background-image: url('./images/geometric-g7457aa99e_1920.jpg');
  background-size: cover;
  background-blend-mode: multiply;
  color: var(--white);
  padding-bottom: 140px;
}





/*----------------------------------- *\
       #CONTACT-SECTION
\*----------------------------------- */
.c-contact-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0;
  margin-top: -60px;
}

.c-contact__wrapper {
  -webkit-box-shadow: 0px 21px 41px -13px rgba(var(--black), var(--alpha-dark));
  -moz-box-shadow: 0px 21px 41px -13px rgba(var(--black), var(--alpha-dark));
  box-shadow: 0px 21px 41px -13px rgba(var(--black), var(--alpha-dark));
  display: flex;
  flex-direction: row-reverse;
  max-width: 1000px;
  border-radius: 7px;
  overflow: hidden;
}

.form--contact {
  max-width: 750px;
  background: rgba(var(--light-grey), var(--alpha-light));
  padding: 20px;
  flex: 1
}

.c-contact__wrapper .o-brand {
  padding: 36px;
  color: rgb(var(--white));
  background: rgb(var(--brand-blue));
  flex: 1;
}

.form--contact .form__label {
  font-size: 12px;
  font-weight: 800;
  text-transform: uppercase;
}

.form--contact .form__input {
  border: none;
  background: rgb(var(--light-grey));
  border-bottom: 1px solid rgba(var(--black), var(--alpha-dark));
  transition: all 0.6s ease-in-out;
}

.form--contact .form__input:focus,
.form--contact .form__input:active {
  border: none;
  border-bottom: 1px solid rgb(var(--brand-blue));
}

.form--contact .form__input:focus-visible {
  outline: none;
}

.form--contact textarea {
  height: 200px;
}

.form--contact h3 {
  margin-top: -10px;
}





/*----------------------------------- *\
       #FOOTER
\*----------------------------------- */

.c-footer {
  background: rgb(var(--brand-blue));
  color: #ffffff;
  padding: 15px 20px;
}

.c-footer__menu {
  display: flex;
  gap: 10px;
  padding-left: 0;
}

.c-footer a {
  font-size: 12px;
  border: 1px solid rgb(var(--white));
  padding: 12px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.08s ease-in-out;

}

.c-footer a:hover {
  background: rgb(var(--white));
  color: rgb(var(--brand-blue));
}





/*----------------------------------- *\
       #RESPONSIVE
\*----------------------------------- */

/* 
  ##Device = Laptops, Desktops, Tablets, Ipads, Mobiles
  ##Screen = Below 1280PX;
*/

@media screen and (max-width: 1280px) {
  .o-info__container {
    flex-wrap: wrap;
  }
}

/* 
  ##Device = Laptops, Desktops, Tablets, Ipads, Mobiles
  ##Screen = Below 1024PX;
*/

@media screen and (max-width: 1024px) {
  .c-contact__wrapper {
    flex-direction: column;
  }
}

